#
#
# This config should be noted in TOML.
# See also https://github.com/toml-lang/toml

[Server]
port    = 8000
endpoint = "localhost"
debug = true

[Log]
accessLog = "access.log"
serverLog = "server.log"
level = "DEBUG"
