#
#
# This config should be noted in TOML.
# See also https://github.com/toml-lang/toml
# Case sensitive.

[Server]
Port     = 8000
Endpoint = "localhost"
Debug    = true

[Log]
AccessLog = "access.log"
ServerLog = "server.log"
Level     = "INFO"
